{# {{ dump(data) }} #}
<div>
<a href="{{ path('bse_selection_export') }}" class="btn btn-danger btn-sm" pull-left">Exporter vers excel</a>
</div>
<br/>
<table class="table">
	<tr>
		<th>Num dossier</th>
		<th>Score</th>
	</tr>	
	{% for candidature in data %}
	<tr>
		<td>{{candidature.id}}</td>
		<td>{{candidature.score}}</td>
	</tr>
	{% endfor %}
</table>